@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap");

* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

/* Barra de navegacion*/

.navbar {
  padding: 0.6rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/* Seccion Hero */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
}

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero h1,
.proyectos-recientes--titulo {
  font-size: 2.1rem;
  font-weight: 800;
  font-family: "Rubik", sans-serif;
}
.hero h2,
.proyecto-recientes--parrafo {
  font-size: 1.4rem;
}

.hero-nombre {
  color: #1b0088;
}

.imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 1rem;
  display: flex;
  border-radius: 100%;
  align-self: center;
}

.hero-inferior-imagen {
  width: 50rem;
}

@media screen and (max-width: 700px) {
  .hero-inferio-image {
    width: 100%;
  }
}

/* Sobre mi */

.seccion__oscura {
  background-color: #1b2b42;
  padding: 2rem;
  color: white;
  height: 400px;
}

.seccion__oscura--titulo {
  font-size: 2.3rem;
  padding-bottom: 1.2rem;
}

.seccion__oscura--parrafo {
  font-size: 1rem;
}

.seccion__oscura-nombre {
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  section.seccion__oscura div p,
  section.seccion__oscura div h3 {
    text-align: justify;
  }
}

/* Experiencia */
.seccion__clara {
  background-color: white;
}

.card {
  transition: all 0.8 ease-in;
}

.card:hover {
  background-color: #d7d7d7;
}

.card-img-top {
  height: 20rem;
}

.card-title {
  background-color: #1b2b42;
  border-radius: 0.2rem;
  color: white;
}

.badge {
  font-size: 0.85rem;
}

/* Proyectos */
.proyectos__recientes {
  padding: 40px;
  transition: all 0.2 ease;
}

.proyecto__recientes-parrafo {
    color:#584e4e;
    font-size: 1.6;
}

.proyecto__unico-imagen{
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    
}

.proyecto__unico-overlay {
    transition: all 0.2 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    text-align: center;
}

.proyecto__unico {
  position: relative;
  padding: 1.2rem;
}

.proyecto__unico-overlay p {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 0;
}

.proyecto__unico-imagen:hover {
  opacity: 0.2;
}

.proyecto__unico:hover .proyecto__unico-overlay {
  opacity: 1;
  padding: 1rem;
  border-radius: 10%;
  background-color: rgba(2, 0, 0, 0.3);
  color: white;

}

.proyecto__unico-iconos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyecto__unico-iconos a i:hover {
  color: black;
}

.proyecto__unico-iconos a i {
  font-size: 1.8rem;
  color: white;
}

@media screen and (max-width: 768px){
  .proyecto__recientes-parrafo {
    text-align: center;
    font-size: 1.2rem;
  }
}

/* Articulos */

.articulos {
  min-height: 400px;
  padding: 30px;
  
}

.articulos h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 800;
}

.articulos-card{
  width: 80%;
  max-width: 800px;
}